@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import '..//node_modules/ngx-toastr/toastr.css';

html, body {
    height: 100%;
    overflow: hidden;
  }

  body {
    margin: 0;
    background-image: url('./assets/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

a {
    text-decoration: none;

}
* {
    font-family: 'Roboto Condensed', sans-serif;
}


